{% extends 'base.html.twig' %}
{% block content %}
    <div id="proj_header" style="background-image: url('/img/rsm_header.png')"></div>
		</div>

		<div class="section">

				<div class="project-place">
					<img src="/img/place.svg" width="27" height="37">
					<p>г. Ростов-на-Дону, ул. Менжинского, 2</p>
				</div>
			<p class="head__text" style="margin-bottom: 60px;">ООО "КЗ Ростсельмаш"</p>
				<p>Ростсельмаш —  группа компаний, в которую входят 13 предприятий, расположенных на 10 производственных площадках в 4 странах, выпускающих технику под брендами ROSTSELMASH и VERSATILE. 
 
Продуктовая линейка компании включает в себя более 150 моделей и модификаций 24 типов техники, в том числе зерно- и кормоуборочных комбайнов, тракторов, опрыскивателей, кормозаготовительного и зерноперерабатывающего оборудования и др. 
 
Реализация техники Ростсельмаш, ее предпродажная подготовка и сервисное обслуживание осуществляется через развернутую по странам присутствия на 4 континентах дилерскую сеть компании. На сегодня агромашины Ростсельмаш востребованы в более чем 50 странах мира.
</p>
			</div>

			<!-- <div class="section proj-section">
				<p>Проекты</p>

<div class="crd project-card projtype-$category">

        <div style="background-image: url('/img/af.jpg'); background-size: cover;" class="project-card-header">
          <p></p>
          <p>$title</p>
        </div>

	<p class="crd-caption-left"></p>
	<p class="project-description">$description</p>
	<ul class="project-card-theses">
		<li>исследовательский проект</li>
		<li>тяжёлая промышленность, сельскохозяйственное машиностроение</li>

	</ul>


	<p class="project-card-status" style="color: #0C7CBB;">Идёт набор в команду</p>
	<div  style="display: inline-block; float: left; font-size: 13px;">
		<p style="color: gray; font-weight: bold;">Сроки реализации:</p>
		<p>$date - </p>	
	</div>

	<div style="display: inline-block; float: right; font-size: 13px;">
		<p style="color: gray; font-weight: bold;">Заказчик проекта:</p>
		<p>ООО "Вектор"</p>	
	</div>

	<div class="crd-buttons crd-buttons-bottom crd-buttons-single">
		<button  style="background-color:  #1B4F44; color: white" type="button" onclick="window.location.href='/project/show?id=$id'" class="btn">Подробнее</button>
	</div>
</div>



			</div> -->


		<!-- <div class="section proj-section">
			<p>ПРЕДСТОЯЩИЕ МЕРОПРИЯТИЯ</p>
			<div class="crd project-card">
				<p>САМОЕ КЛАССНОЕ МЕРОПРИЯТИЕ</p>
				<img width=360 height=240 src="img/logo.png">
				<p class="project-description">Всем в этом проекте очень весело, мы разрабатываем всё на свете</p>
				<p>Дата проведения: 35 февраля 1777 года. - 40 февраля 1777 года.</p>
				<p>Место проведения: у чёрта на куличиках</p>
				<div class="crd-buttons crd-buttons-bottom">
					<button type="button" onclick="window.location.href='project.html'" class="btn btn-primary">Подробнее</button>
					<button type="button" class="btn btn-success">Участвовать</button>
				</div>
			</div>
		</div>

		<div class="section proj-section">
			<p>ЗАВЕРШЕННЫЕ МЕРОПРИЯТИЯ</p>
			<div class="crd project-card">
				<p>САМОЕ КЛАССНОЕ МЕРОПРИЯТИЕ</p>
				<img width=360 height=240 src="img/logo.png">
				<p class="project-description">Всем в этом проекте очень весело, мы разрабатываем всё на свете</p>
				<p>Дата проведения: 35 февраля 1777 года. - 40 февраля 1777 года.</p>
				<p>Место проведения: у чёрта на куличиках</p>
				<div class="crd-buttons crd-buttons-bottom">
					<button type="button" onclick="window.location.href='project.html'" class="btn btn-primary">Подробнее</button>
				</div>
			</div>
		</div> -->
{% endblock %}