{% extends 'base.html.twig' %}

{% block content %}
    <h1>Список лучших тестеров</h1>
    <b>Спасибо вам ребятки с:</b><br>
    <ul>
    	<li><a href="https://vk.com/o_0lena0_o">Владлен Чичканов</a></li>
    	<li><a href="https://vk.com/denis_bondarenko_dev">Денис Бондаренко. Нашел <b>2</b> серьезных бага.</a></li>
    	<li><a href="https://vk.com/gadzhimuradm">Гаджимурад Магомедов. Нашел <b>1</b> серьезный баг.</a></li>
    	<li><a href="https://vk.com/id307182695">Александр Булин-Соколов. Нашел <b>1</b> серьезный баг.</a></li>
    	<li><a href="https://vk.com/basketballforall2">Дмитрий Смирягин. Нашел <b>2</b> серьезных бага.</a></li>
    	
    </ul>
{% endblock %}