{% extends 'base.html.twig' %}

{% block content %}
    <p>Текущая версия билда системы: <b>1.0.0.29 <i>(stable build)</i></b></p>
    <br>
    <b>Ничего более интересного вы здесь не увидите, но считайте, что пасхалку нашли</b><br>
    <b>Следите за разработкой в <a href="http://vk.com/trex_studio">ВК</a></b>
    <br>
    <img src="/img/cat.gif">
{% endblock %}